<p id="notice"><%= notice %></p>

<h1>Consulting Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consulting_types.each do |consulting_type| %>
      <tr>
        <td><%= consulting_type.name %></td>
        <td><%= link_to 'Show', consulting_type %></td>
        <td><%= link_to 'Edit', edit_consulting_type_path(consulting_type) %></td>
        <td><%= link_to 'Destroy', consulting_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Consulting Type', new_consulting_type_path %>
