<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @consulting_room.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @consulting_room.location %>
</p>

<p>
  <strong>Consultig type:</strong>
  <%= @consulting_room.consultig_type_id %>
</p>

<%= link_to 'Edit', edit_consulting_room_path(@consulting_room) %> |
<%= link_to 'Back', consulting_rooms_path %>
